/* BAGIAN 1	*/
.container-fluid {
	width: 100%;
}
.navbar{
  	background-color: #FFFFFF;
	border-bottom: 5px solid #000000;
}
.logo {
	width: 95px;
	height: 80px;
	margin-top: -2px;
    margin-right: 20px;
}
.nb1 {
	font-weight: bold;
	font-size: 20px;
	font-family: Lato;
	color: #5E5B4E;
	opacity: 90%;
	margin-left: -5px;
	
}

.search {
    color: #ffffff;
	padding: 20px; 
	
}
/* mengubah warna placeholder */
.search::-webkit-input-placeholder{
	color: #000000;
}
.search, .sign {
	font-weight: bold;
	font-size: 20px;
	font-family: Lato;
	margin-right: 20px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.sign:hover {
	background: linear-gradient(to right, aquamarine,forestgreen);;     
	color:#1b1a1a;
}

.form-control mr-sm-2 {
	color: white;
}

.directory-or{
	margin: 50px 0px -200px 50px;
	font-size: xx-large;
}
.directory-or a{
	text-decoration: none;
	color: black;
	z-index: inherit;
	
}
.directory-or a:hover{
	color:darkblue ;
}

.directory-or span{
	color: darkblue;

}
.carousel-inner{
	margin-top: 5px;
	width: 100%;
	height: 1000px;
}
@media screen and (max-width: 900px) {
   .carousel-inner{
       margin-bottom: -450px;
   }
}
.nav .hitam {
	/*margin-top: 2px;*/
	font-weight: bold;
	font-size: 19px;
	font-family: Lato;
	color: #D6B58B;
	opacity: 90%;
}
.nav .hitam:hover {
	background-color: #EEDFCC;
	color: white;
}
.icon {
	margin-left: -12 px;
}
.garis_verikal{
	transform:translate(0, 0%);
	border: 6px solid #974040;
	height: 45px;
	}

/*Masuk sekolah */
.bagian {
	box-sizing: border-box;
	border: 10px solid grey;
	font-size: xx-large;
	padding : 100px;
	margin:40px;
}

/*information*/
.info {
	font-size: 100px;
	box-sizing: border-box;
	border: 10px solid grey;
	padding : 100px;
}

.baris .tk{
	margin-top: -30px;
	font-size: 50px;
}

#fb{
	width: 103px;
	height: 103px;
}

#tw{
	width: 78px;
	height: 78px;
	margin: 0px 10px;
}
#ig{
	width: 80px;
	height: 80px;
	display: inherit;
	margin-left: 6px;
}
.hubungi {
	text-align: center;
    margin-top: 0.3em;
}
.sosmed{
	text-align: center;
	background-color: rgb(163, 153, 153);
	padding-bottom: 5px;
	margin-top: 100px;
	border-top: 5px solid #000000;
}
footer {
	position: absolute;
	width: 100%;
	height: 60px;
	color: pink;
	background-color: #000000;
	padding-top: 20px;
	font-size: large;
	text-decoration: none;
}

/*list sekolah*/
.sekolah{
	width : 40%;
	height : 100px;
	margin-top: 7px;
	margin-right: 20px;
}
.alist{
	background: linear-gradient(to top,white, lightcyan);
}
.listkanan {
	background-color: antiquewhite;
	border-radius: 2em;	
	margin-bottom: 100px;
	padding: 40px;
	margin-left: 10px;
	
}
.listkiri{
	background-color: antiquewhite;
	border-radius: 2em;	
	margin-bottom: 100px;
	padding: 40px;
	margin-right: 10px;
}

.lss{
	margin-top: 300px;
}

